@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  text-align: center;
  color: white;
  font-size: 30px;
}
* {
  font-family: "Poppins", sans-serif;
  align-items: center;
}

